# Files to ignore when adding and committing files to a repository
.DS_Store
Thumbs.db

*.py[cod]
*$py.class

#upload files
uploads/

# virtualenv
.venv/
venv/
env/

# PyCharm Settings
.idea

# VS Code Settings
.vscode